.main-body{
    background-image: url("../../../../../common/images/logo/login-body-bg.png");
}
  .input-group {
        position: relative;
      }
 .input-group {
        position: relative;
      }
 
      .login-input {
        border: solid 1.5px #9e9e9e;
        border-radius: 5px !important;
        background: none;
        padding: 1rem;
        font-size: 1rem;
        color: #016774;
        transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }
 
      .login-label {
        position: absolute;
        left: 22px;
        color: #016774;
        pointer-events: none;
        transform: translateY(1rem);
        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }
 
      .login-input:focus,
      login-input:valid {
        outline: none;
        border: 1.5px solid #d7d7d7;
      }
 
      .login-input:focus ~ .login-label,
      .login-input:valid ~ .login-label {
        transform: translateY(-50%) scale(0.8);
        background-color: #ffffffd8;
        padding: 0 0.2em;
        color: #016774;
      }
 .login-button{
    background: #016774;
    color: #fff;
    cursor: pointer;
 }

 .xn-nav-container .xn-menu-item {
  display: inline-block;
  position: relative;
}

.xn-nav-container .xn-menu-item .xn-menu-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  cursor: pointer;
}

.xn-nav-container .xn-menu-item .xn-menu-link:hover {
  background-color: #f0f0f0;
}

.xn-nav-container .xn-menu-item .xn-dropdown-menu {
  border-radius: 15px;
  margin-top: 26px;
  display: none;
  position: absolute;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.xn-nav-container .xn-menu-item .xn-dropdown-menu .xn-dropdown-item {
  display: block;
  white-space: nowrap;
}

.xn-nav-container .xn-menu-item .xn-dropdown-menu .xn-dropdown-item .xn-dropdown-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.xn-nav-container .xn-menu-item .xn-dropdown-menu .xn-dropdown-item .xn-dropdown-link:hover {
  background-color: #f0f0f0;
}

.xn-nav-container .xn-menu-item.active .xn-dropdown-menu {
  display: block;
}